/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel { 
    position: relative; 
    height: auto;
    overflow: hidden; 
    background-color: #cdcdcd; 
} 
  
.slide-image { 
    background-size: cover; 
    background-repeat: no-repeat; 
    position: absolute; 
    width: 100%; 
    top: 0; 
    left: 100%; 
} 
  
.slide-image.active { 
    left: 0; 
    transition: all 0.3s ease-out; 
} 

:root {
    --font--color: #2E475D;
    --border--color: #EAF0F6;
    --main--color: #FD9B00;
}

*{
    font-family: 'rubik', sans-serif;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: var(--main--color);
    border-radius: 50%;
    display: flex;
}

.titlebox2 {
    font-size: 24px;
    color: var(--font--color);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.titlebox2::before {
    content: '';
    width: 65px;
    height: 20px;
    background-color: var(--main--color);
    display: inline-block;
    position: absolute;
    z-index: -1;
    margin-left: -15px;
    margin-top: -5px;
}

.titlebox2::after {
    content: '';
    width: 65px;
    height: 20px;
    background-color: var(--main--color);
    display: inline-block;
    position: absolute;
    z-index: -1;
    margin-left: -50px;
    margin-top: 15px;
}

.mySlides{
    display: none;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container{
    grid-template-rows: 270px 270px;
}